# common
.vscode
.idea

# app
app/node_modules
app/*.log*
app/.nuxt
app/.nitro
app/.cache
app/.output
app/.env

# admin
admin/node_modules
admin/dist

# backend
backend/node_modules
backend/dist

# training backend
training-backend/node_modules