<nav class="rd-admin-nav">
    <ul>
        <li class="rd-admin-nav__item" *ngFor="let link of links" [routerLink]="link.path">
            <a class="rd-admin-nav__item-link">
                <i class="rd-admin-nav__item-mainicon rd-icon mr-2">{{ link.iconName }}</i>
                <span>{{ link.title }}</span>
            </a>
            <i *ngIf="link.addPath" [routerLink]="link.addPath" class="rd-admin-nav__item-addicon rd-icon">
                library_add
            </i>
        </li>
    </ul>
</nav>
