@keyframes rd-spinner {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes rd-button-spinner {
	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

@keyframes rd-spinner-center {
	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

@keyframes rd-show-tab {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes rd-body-spinner {
	to {
		transform: translate(-50%, -50%) rotate(1turn);
	}
}
