.rd-form-control {
	@apply rounded-lg w-full bg-transparent border-2 border-gray-600 outline-none text-white block py-2 px-3;

	&:focus {
		@apply border-blue-400;
	}

	&::placeholder {
		@apply text-gray-400;
	}
}

.rd-custom-select {
	@apply relative rounded-lg w-full bg-transparent border-2 border-gray-600 outline-none text-white block py-2 px-3;

	select {
		position: absolute;
		z-index: 2;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
	}

	&__value {
		pointer-events: none;
		padding-right: 30px;
	}

	.rd-icon--arrow {
		position: absolute;
		right: 0;
		top: 50%;
		right: 10px;
		transform: translateY(-50%);
	}
}
